/*@media only screen and (max-width: 600px) {
	.Form {max-width: 100px;}
		  {max-height: 200px;}
}*/

p {
	font-size: 6px;
	color: red;
	position: relative;
	left: 30px;
	bottom: 35px;
}

h5 {
	font-size: 8px;
	color: black;
	position: relative;
	left: 30px;
}

h6 {
	font-size: 18px;
}

.Container1 {
	height: 237px;
	background-color: #EBEBEB;
	position: center;
}

.Container2 {
	height: 237px;
	background-color: #ABABAB;
	position: relative;
}

.Container3 {
	height: 256px;
	background-color: #878787;
	position: relative;
}

.form {
	width: 400px;
	height: 397px;
	background-color: #E6E6E6;
	position: relative;
	bottom: 550px;
	left: 450px;
	margin-bottom: 10px;
	max-width: 400px;
}

.Footer {
	width: fill;
	height: 82px;
	background-color: #000000;
	position: center;
}

.pop-up {
	font-size: 18px;
	text-align: center;
}

.Contact {
    background-color: #555555; /* Grey */
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    position: relative;
    left: 595px;
    bottom: 50px;
}

#name {
	position: relative;
	left: 100px;
	bottom: 30px;
	width: 200px;
}

#phonenumber {
	position: relative;
	left: 100px;
	bottom: 40px;
	width: 200px;
}

#email {
	position: relative;
	left: 100px;
	bottom: 45px;
	width: 200px;
}

#questions {
	position: relative;
	left: 100px;
	bottom: 50px;
	width: 200px;
}

#submit {
	position: relative;
	left: 175px;
	bottom: 30px;
}
#title {
	position: relative;
	left: 170px;
}

#title2 {
	position: relative;
	bottom: 15px;

}

#title3 {
	position: relative;
	bottom: 20px;

}

#title4 {
	position: relative;
	bottom: 30px;
}

.button5 {
	position: relative;
	left: 60px;
	top: 30px;
	bottom: 500px;
}